{% extends "header.html" %}

{% block content %}
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
    {% for post in posts %}
        <div class="container" data-aos="fade-up">
        <div class="jumbotron d-flex justify-content-center" style="text-align: center">

                <div class="row">
                  <div class="col-lg-12">
                      <a href="/view_post/{{ post.id }}" style="text-decoration: none; color: #666;">
                    <div class="post-entry-1 lg">
                        <h2>{{ post.name }}</h2>
                      <div class="post-meta"><span class="date">{{ post.tag }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.time_creation}}</span></div>
                      <p class="mb-4 d-block"> {{ post.short_description }}</p>

                    </div>
                      </a>
                      {% if user.is_superuser %}
                          <div class="container">
                          <div class="row justify-content-center" >
                              <a href="/edit_post/{{ post.id }}" class='btn btn-primary' style="text-decoration: none; color: white;">
                                Редактировать пост
                            </a>
                          <form method="post">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-danger" name="pk" value={{ post.id }}>Удалить</button>
                            </form>
                          </div>

                          </div>


                      {% endif %}
                  </div>
                  </div>
            </div>
        </div>

    {% endfor %}
    </section>
{% endblock %}